$primary: #d0d6f9;
$black: #0b0d17;
$white: #ffffff;

$bellefair: "Bellefair", serif;
$barlow-condensed: "Barlow Condensed", serif;
$barlow: "Barlow", sans-serif;

$colors: (
	"primary": #d0d6f9,
	"black": #0b0d17,
	"white": #ffffff,
);
